body {
    background-color: #F1DEDE;
    color: #333333;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    color: #d496a7;
    border-bottom: 1px solid #997789; 
}

h2 {
    color: #b78798;
    font-weight: normal;
    border-bottom: 2px solid #997789;
}

p {
    margin-top: 0px;
    line-height: 1.5em;
}

ol {
    padding-left: 12px;
}

ul {
    padding-left: 12px;
}

a {
    color: #7D9C9E;
    text-decoration: none;
}

a:hover {
    color: #d496a7; 
} 
