body {
    background-color: #F1DEDE;
    color: #333333;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    color: #5d576b;
    border-bottom: 1px solid #d496a7; 
}

h2 {
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    line-height: 1.5em;
}

ol {
    padding-left: 12px;
}

ul {
    padding-left: 12px;
}

a {
    color: #7D9C9E;
    text-decoration: none;
}

a:hover {
    color: #AD235E; 
} 
